@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.footer {
  min-height: 100px;
  position: relative;
  margin-top: 2em;
}

.footer span {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  color: white;
  background:linear-gradient(to right, #a1d2ceff, #78cad2ff, #62a8acff, #5497a7ff, #50858bff);
}

.contact {
  justify-items: right;
  color: #5497a7ff;
}

.contact:hover,
.contact:focus {
  justify-items: right;
  color: #5497a7ff;
}

p{
  font-size: large;
}

a{
  color:#5497a7ff!important;
}
